numpy
pandas
scipy
matplotlib
networkx
gitpython
tqdm
joblib
jinja2
#docker # https://docker-py.readthedocs.io/en/stable/index.html
#sh # easy subprocess creation
#enum #(python 2.7)

# SERVER
#flask
#flask_socketio
